* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}


#board {
height: calc(100vh - 40px);
width: 90%;
display: grid;
grid-template: repeat(4, 1fr) / repeat(4, 1fr);
grid-gap: 3px;
background: transparent;
perspective: 1000px;
position: relative;
z-index: 1;
margin: 10px;

    div{
        display: flex;
    }
}

.tile {
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: transform 0.6s ease-in;
position: relative;
cursor: pointer;
}

.tile:hover {
border: 3px solid black;
}

.tile::before{
transform: rotateX(180deg);
}

.tile::after{
transform: rotateX(180deg);
}

.flip{
    transform: rotateX(180deg);
  }

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}



.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: lavender;
}

.check {
    background: crimson;
    border: 1px black solid;
    font-size: 5rem;
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in;

}

i {
    margin: auto;
}

.fa-check:before {
transform: rotateX(180deg);
}

.nr1{
    grid-area: 1 / 1 / 2 / 2;
}

.nr2{
    grid-area: 1 / 2 / 2 / 3;
}

.nr3{
    grid-area: 1 / 3 / 2 / 4;
}

.nr4{
    grid-area: 1 / 4 / 2 / 5;
}

.nr5{
    grid-area: 2 / 1 / 3 / 2;
}

.nr6{
    grid-area: 2 / 2 / 3 / 3;
}

.nr7{
    grid-area: 2 / 3 / 3 / 4;
}

.nr8{
    grid-area: 2 / 4 / 3 / 5;
}

.nr9{
    grid-area: 3 / 1 / 4 / 2;
}

.nr10{
    grid-area: 3 / 2 / 4 / 3;
}

.nr11{
    grid-area: 3 / 3 / 4 / 4;
}

.nr12{
    grid-area: 3 / 4 / 4 / 5;
}

.nr13{
    grid-area: 4 / 1 / 5 / 2;
}

.nr14{
    grid-area: 4 / 2 / 5 / 3;
}

.nr15{
    grid-area: 4 / 3 / 5 / 4;
}

.nr16{
    grid-area: 4 / 4 / 5 / 5;
}




